{% extends 'movies/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<!-- bootstrap 과 POST를 이용한 간단한 수정 페이지 구축 -->
<form class="m-4" action="" method="POST">
  {% csrf_token %}
  {% bootstrap_form movies_form %}
  {% bootstrap_button button_type="submit" content="OK" %}
</form>
{% comment %} <form class="m-4" action="{% url 'update' edit.id %}">
  <div class="mb-3">
    <label for="title" class="form-label">제목</label>
    <input type="text" class="form-control" id="title" name="title" maxlength="80" value="{{edit.title}}">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">내용</label>
    <textarea class="form-control" id="content" rows="3" name="content">{{edit.content}}</textarea>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">리뷰 수정</button>
  </div>
</form> {% endcomment %}
{% endblock  %}