{% extends 'movies/base.html' %}

{% block content %}
{% load static %}
<!-- Django Staticfiles 활용한 정적 파일 -->
<!-- 웹페이지에선 src="/static/sample.webp" 로 표기된다. -->
<img src="{% static 'sample.webp' %}" alt="" class="m-3">
<div class="m-3">
  <a href="../create/" class="btn btn-primary">리뷰 작성</a>
</div>
<div class="m-3">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">리뷰 번호</th>
        <th scope="col">리뷰 제목</th>
        <th scope="col">작성 시간</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
      <tr>
        <td>{{ movie.id }}</td>
        <td><a href="../{{movie.id}}" class="text-decoration-none fw-bold">{{ movie.title }}</a></td>
        <td>{{ movie.created_at|date:"Y-m-d H:i" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock  %}